.page-container {
    padding: 15px;
    background-color: #fff;
    .flex-wrap {
        flex-wrap: wrap;
    }
    .tableCell {
        display: table-cell;
    }
    .width150 {
        width: 150px;
    }
}