.ts-wrapper .main-container .el-menu-item:first-child,
.ts-wrapper .main-container .el-submenu__title:first-child {
  margin-left: 0;
}

.ts-wrapper .main-container .el-menu-item.is-active,
.ts-wrapper .main-container .el-submenu__title.is-active {
  background: #2a3f54;
  border-bottom: none;
}

.help {
    position: relative;
  min-width: 900px;
  min-height: 600px;

  &::before {
    content: "";
    display: table;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
.cover{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100px;
    }
}
  .el-aside,
  .el-main {
    min-height: 500px;
    overflow: initial;
  }

  .el-container {
    height: 100%;
  }

  .helpMenu {
    position: relative;
    min-height: 500px;
    border: 1px solid #E8E8E8;
    background: #fff;

    .helpMenuTitle {
      padding: 16px 0;
      line-height: 24px;
      font-size: 18px;
      color: #425B77;
      text-align: center;
      border-bottom: 1px solid #e6e6e6;
    }

    .liName {
      margin-right: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .el-col {
      .el-menu-item {
        padding-left: 38px !important;
      }

      .el-submenu__title {
        padding-left: 38px !important;
        font-size: 14px;
        letter-spacing: 0.2px;
      }

      .el-submenu__icon-arrow {
        right: 212px;
        -webkit-transform: rotateZ(-90deg);
        transform: rotateZ(-90deg);
      }

      .el-submenu .el-menu-item {
        padding-left: 48px !important;
        padding-right: 40px;
      }

      .el-menu-item-group__title {
        padding: 0;
      }

      .suffixBtn {
        z-index: 99;
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translate(0, -50%);
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;

        &:hover .menuSetting {
          display: block;
        }
      }

      .menuSetting {
        z-index: 99;
        display: none;
        position: absolute;
        top: 10px;
        left: 30px;
        width: 140px;
        line-height: 40px;
        font-size: 12px;
        color: #425B77;
        border: 1px solid #e6e6e6;
        background: #fff;

        p {
          margin: 0;
          padding: 0 14px;
          border-bottom: 1px solid #ccc;
          cursor: pointer;

          &:last-child {
            border: none;
          }

          &:hover {
            background: #F2F2F2;
          }
        }
      }
    }

    .helpMuneAdd {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 88%;
      padding: 0;
      line-height: 60px;
      font-size: 20px;
      color: #999999;
      border: 1px dashed #ccc;
      border-radius: 4px;
      transform: translate(-50%, -50%)
    }
  }

  .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  .el-button--success {
    background: #539CDB;
    border: 1px solid #3987CC;
  }

  .el-button--success:hover {
    background: #2F79B9;
  }

  .el-button--success:focus {
    background: #1360A2;
  }

  .el-button--primary {
    background: #00BC9C;
    border: 1px solid #00AD91;
  }

  .el-button--primary:hover {
    background: #00A085;
  }

  .el-button--primary:focus {
    background: #02856F;
  }

  .el-main {
    padding: 0;
    margin-left: 20px;

    .helpContain {
      min-height: 500px;
      padding: 0 24px;
      border: 1px solid #E8E8E8;
      background: #fff;

      .helpInfo {
        padding-bottom: 50px;
      }

      .helpUploadTitle {
        padding: 0 4px;
        margin-bottom: 20px;
        line-height: 56px;
        font-size: 18px;
        color: #425B77;
        border-bottom: 1px solid #e6e6e6;
      }

      .helpEdit {
        padding-bottom: 20px;

        .el-select {
          margin-left: 10px;
        }
      }

      .point {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: 5px;
        border-radius: 6px;
        vertical-align: middle;
        background: #58B957;
      }

      .pointRed {
        background: #DB524B;
      }

      .el-form-item__label {
        color: #425B77;
        letter-spacing: 0.2px;
      }

      .halfForm {
        display: inline-block;
        width: 49%;
      }

      .el-pagination {
        width: 100%;
        margin-top: 20px;
      }

      .quill-editor {
        margin-bottom: 20px;
      }
    }
  }

  .el-pagination {
    margin-bottom: 20px;
  }

  .WangEditor {
    margin-bottom: 20px;
  }

  .el-dialog {
    .el-dialog__body {
      text-align: center;

      .el-input {
        width: 400px;
      }
    }
  }
}
